#menu-text {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 7em;
    margin: 20px 0 40px 0;
}

#pasta-text, #cocktail-text {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 5em;
}

#menu-container {
    width: 100vw;
}

.menu-section {
    margin-bottom: 60px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
    justify-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

.pasta-container, .cocktail-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.pasta-img, .cocktail-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.pasta-name, .cocktail-name {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
}

